@font-face {
    font-family: "goudita";
    src: url("../fonts/GouditaSerial/font.woff") format("woff");
  }

body {
    background-image: url("../images/parchment-texture-1171541.jpg");
    background-color: white;
}


.game_cover {
    max-height: 150px;
}

#header_p {
    border-radius: 3%;
    border-color: black;
    border-style: groove;
    border-width: medium;    
    text-align: center;
    font-size: 3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}